@import url(./__container/popup__container.css);
@import url(./__title/popup__title.css);
@import url(./__input/popup__input.css);
@import url(./__input/_type/popup__input_type_name.css);
@import url(./__input/_type/popup__input_type_profession.css);
@import url(./__btn/popup__btn.css);
@import url(./__btn/_action/popup__btn_action_close.css);
@import url(./__btn/_action/popup__btn_action_save.css);

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-width: 300px;
  height: 100%;

  background-color: rgb(0, 0, 0, 0.5);

}
