.page {
  display: flex;
  align-items: center;
  flex-direction: column;

  min-width: 300px;
  max-width: 1280px;
  margin: auto;
  padding: 45px 0 60px;

  background-color: black;

  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
}

@media screen and (max-width: 1280px) {
  .page {
    padding-top: calc((100vw - 300px) / (1280 - 300) * (45 - 28) + 28px);
    padding-bottom: calc((100vw - 300px) / (1280 - 300) * (60 - 36) + 36px);
  }
}
