.popup__input {
  margin-bottom: 30px;

color: #000000;

border: none;

border-bottom: 1px solid rgb(0, 0, 0, 0.2);

font-family: Inter;

font-size: 14px;

font-weight: normal;

font-style: normal;

line-height: 17px;

  }

.popup__input::placeholder               {
  color: rgba(0, 0, 0, 0.8);

font-family: Inter;

font-size: 14px;

line-height: 17px;

  }
