.popup__container {
  position: relative;

display: flex;

flex-direction: column;

box-sizing: border-box;

width: 430px;

height: 330px;

margin: 195px auto auto;

padding: 36px;

border-radius: 10px;

background-color: white;

box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);

  }



@media screen and (max-width: 600px) {
  .popup__container{
    width: calc(100% - 85px * 2);

min-width: calc(300px - 19px * 2);
    }
}
