.element__btn-like {
  padding: 2px 4px;

  cursor: pointer;
  -webkit-transition: opacity .2s ease-in;
  -o-transition: opacity .2s ease-in;
  transition: opacity .2s ease-in;

  color: #000000;
  border: none;
  border-radius: 0;
  background-color: white;

  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  line-height: 29px;
}

.element__btn-like:hover {
  opacity: .6;
}
