.profile__btn{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  cursor: pointer;
  -webkit-transition: opacity .2s ease-in;
  -o-transition: opacity .2s ease-in;
  transition: opacity .2s ease-in;

  outline: none;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
}

.profile__btn:hover {
  opacity: .6;
}
