@import url(./__logo/header__logo.css);

.header {
  display: flex;
  align-content: space-between;

  width: calc(100% - 199px * 2);
  min-width: calc(1024px - 100px * 2);
  padding: 45px 0 0;

  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 1280px) {
  .footer {
    padding-top: calc((100vw - 300px) / (1280 - 300) * (45 - 28) + 28px);
  }
}

@media screen and (max-width: 1024px) {
  .header {
    width: calc(100% - 100px * 2);
    min-width: calc(768px - 19px * 2);
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(100% - 19px * 2);
    min-width: 300px;
  }
}
