@import url(./__logo/header__logo.css);
@import url(./__line/header__line.css);

.header {
  display: flex;
  align-content: space-between;

  width: calc(100% - 199px * 2);
  min-width: 300px;

  border-bottom: 1px solid rgba(84, 84, 84, .7);
}
