.popup__btn__disabled {
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;

  opacity: .2;
  color: #000;
  border: 1px solid #000;
  border-radius: 2px;
  background: none;
}
