.elements {
  display: -ms-grid;
  display: grid;

  width: 100%;
  margin: 0;
  padding: 51px 0 0;

  list-style-type: none;

  -ms-grid-columns: 1fr 18px 1fr 18px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px 18px;
}

@media screen and (max-width: 768px) {
  .elements {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 425px) {
  .elements {
    padding-top: 36px;

    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}
