.profile__name {
  overflow: hidden;

  min-width: 300px;
  max-width: calc(100% - 17px - 24px - 30px);
  margin: 0 12px 5px 0;

  white-space: nowrap;
  text-overflow: ellipsis;

  color: #FFFFFF;

  font-size: 42px;
  font-weight: 500;
  font-style: normal;
  line-height: 56px;
}

@media screen and (max-width: 1280px) {
  .profile__name {
    min-width: calc((100vw - 320px) / (1280 - 320) * (300 - 190) + 190px);

    font-size: calc((100vw - 320px) / (1280 - 320) * (42 - 27) + 27px);
  }
}


@media screen and (max-width: 600px) {
  .profile__name {
    margin: 1px 5px -5px 4px;
  }
}
