.element__btn_action_like {
  padding: 2px 4px;

  color: #000000;
  border: none;
  border-radius: 0;
  background-color: #ffffff;

  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  line-height: 29px;
}
