.card__btn {
  cursor: pointer;
  -webkit-transition: opacity .2s ease-in;
  -o-transition: opacity .2s ease-in;
  transition: opacity .2s ease-in;

  border: none;
  border-radius: 0;
}

.card__btn:hover {
  opacity: .6;
}
