@import url(./__image/element__image.css);
@import url(./__footer/element__footer.css);
@import url(./__caption/element__caption.css);
@import url(./__btn-like/element__btn-like.css);

.element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  border-radius: 10px;
  background: #FFFFFF;
}
