@import url(./__image/element__image.css);
@import url(./__image/_type/element__image_type_dombai.css);
@import url(./__image/_type/element__image_type_elbrus.css);
@import url(./__image/_type/element__image_type_karachay-cherkessia.css);
@import url(./__footer/element__footer.css);
@import url(./__caption/element__caption.css);
@import url(./__btn-like/element__btn-like.css);

.element {
  display: flex;

overflow: hidden;

flex-direction: column;

border-radius: 10px;

background: #FFFFFF;
  }
