.popup__btn_action_close {
  position: absolute;
  top: -39px;
  right: -38px;

  width: 42px;
  height: 42px;

  -webkit-transition: opacity .2s ease-in;
  -o-transition: opacity .2s ease-in;
  transition: opacity .2s ease-in;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);

  border: none;
  border-image-width: 0;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../../images/profile-add-btn.svg);
  background-size: cover;
}

.popup__btn_action_close:hover {
  opacity: .6;
}

@media screen and (max-width: 600px) {
  .popup__btn_action_close{
    top: calc((100vw - 300px) / (600 - 320) * (-38 - 26) - 26px);
    right: calc((100vw - 300px) / (600 - 320) * (-38 - 26) - 26px);

    width: calc((100vw - 320px) / (600 - 320) * (42 - 30) + 30px);
    height: calc((100vw - 320px) / (600 - 320) * (42 - 30) + 30px);
  }
}


@media screen and (max-width: 300px) {
  .popup__btn_action_close{
    top: -26px;
    right: -26px;
  }
}
